@import './fonts.scss';

* {
  // font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'SuisseIntl', cursive;
}

body {
  height: 100%;
  width: 100%;
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s
}

.page-enter, .page-leave-active {
  opacity: 0
}

a {
  color: #3db565 !important;
  text-decoration: none;
}

.activeColor {
  color: #3db565 !important;
}

.wrapper {
  margin: 62px 67px 99px 60px;

  @media (max-width: 425px) {
    margin: 22px 27px 59px 20px;
  }
}

.link {
  font-size: 51px;
  line-height: 48px;
  font-family: "SuisseIntl-Light";
  font-weight: 300;

  @media (max-width: 425px) {
    font-size: 31px;
  }
}